<h1 nz-typography>Todas as sprints</h1>
<div class="list-container">
  <div class="">
    <nz-card>
      <div class="title">
        <h3 nz-typography>Sprint 12</h3>
        <span>05/09 a 20/09</span>
      </div>
    </nz-card>
  </div>
  <div class="">
    <nz-card>
      <div class="title">
        <h3 nz-typography>Sprint 11</h3>
        <span>05/09 a 20/09</span>
      </div>
    </nz-card>
  </div>
  <div class="">
    <nz-card>
      <div class="title">
        <h3 nz-typography>Sprint 10</h3>
        <span>05/09 a 20/09</span>
      </div>
    </nz-card>
  </div>
</div>
