h1 {
  font-weight: bold;
}

h3 {
  color: white;
}

.list-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-column-gap: 6px;
  grid-row-gap: 6px;
}

nz-card {
  cursor: pointer;
  padding: 10px;

  &:hover {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.384);
    background: rgba(var(--primary-base), 0.5);
  }
}
