<h1 nz-typography>Todas as sprints</h1>
<div class="list-container">
  <nz-card [nzBordered]="false" routerLink="12">
    <div class="title">
      <h3 nz-typography>Sprint 12</h3>
      <span>05/09 a 20/09</span>
    </div>
  </nz-card>

  <nz-card [nzBordered]="false">
    <div class="title">
      <h3 nz-typography>Sprint 11</h3>
      <span>05/09 a 20/09</span>
    </div>
  </nz-card>

  <nz-card [nzBordered]="false">
    <div class="title">
      <h3 nz-typography>Sprint 10</h3>
      <span>05/09 a 20/09</span>
    </div>
  </nz-card>
</div>
